/* GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body{
    background-image: url(../img/imagemDeFundo.jpg);
    background-size: cover;
}

/* SERVE PARA REMOVER A AREA AZUL AO REDOR DOS INPUTS, QUE APARECE AO USUÁRIO CLICAR NO INPUT */
textarea:focus, input:focus{
    outline: none;
}

a{
    font-size: 0.8rem;
}

a:hover{
    color: #08558b;
}

/* CONTAINER LOGIN */
#login-container{
    background-color: #FFF;
    width: 450px;
    margin-left: auto; /*Serve para alhinhar um elemento de bloco no centro da tela*/
    margin-right: auto;
    padding: 20px 30px;  /*20px em cima e embaixo e 30px nas laterais*/
    margin-top: 20vh; /*View Height, o container vai ficar 10% do topo da tela do usuário. serve para respondividade em outrso aparelhos.*/
    border-radius: 10px;
    text-align: center;
}

/* FORMULÁRIO */

#forms{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bold;
    font-size: 1.1rem;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

input:focus{
    border-bottom: 2px solid #08558B;
}

#esqueceu-senha{
    text-align: right;
    display: block;
}

input[type = "submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFF;
    background-color: #08558B;
    cursor: pointer;
}

input[type = "submit"]:hover {
    background-color: #1b223c;
    transition: 0.5s;
}

/* REDES SOCIAIS */
#social-container, #social-container p{
    margin-bottom: 20px;
}

#social-container i {
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
}

.bi-facebook{
    color: #08558B;
}

.bi-linkedin{
    color: #0077b5;
}

/* REGISTRAR */

#register-container p{
    margin-bottom: 10px;
}

@media (max-width: 450px){
    #login-container{
        width: 300px;
        margin-top: 10vh;
    }
}